<div class="animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-md-9 carrusel_may carrusel_home">
            <slider-principal [imagenesArr]="Sliders"></slider-principal>
        </div>
        <div class="col-md-3 imagenDerecha">
            <div class="imagenCentrada"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="contenedor_min">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="contenido_adorno">
                            <div class="titulo_adorno">GRATIFICACIÓN</div>
                            <p>¡El MIDE y Santiago Arau premian tu visita!</p>
                            <h1 class="titulo">Cuponera <br> coleccionable</h1>
                            <p>Preséntalos en el museo y obtén un descuento especial en tu boleto de entrada o al comprar algún artículo de la exposición en nuestra tienda MIDE. Si lo deseas, puedes imprimirlos a color y tener contigo la obra de Arau.</p>
                            <div class="botontrasnparente">
                                <a class="text-decoration-none" href="assets/files/Cupones.zip" download="Cupones.zip">
                                    <div class="opcionboton">
                                        <div class="descarga-icon"></div> DESCARGAR
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 text-center">
                        <img class="img-fluid wow animate__animated animate__fadeInUp" src="assets/img/gratificacion/cupon1.jpg" alt="Cupon de veinte pesos">
                        <p></p>
                        <img class="img-fluid wow animate__animated animate__fadeInUp" src="assets/img/gratificacion/cupon2.jpg" alt="Cupon de diez porciento de descuento">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="contenedor_min">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="contenido_adorno">
                            <div class="titulo">LLÉVANOS A DONDE QUIERAS</div>
                            <p>Descarga los fondos de pantalla que tenemos para ti y lleva contigo una parte de la exposición, obra del fotógrafo Santiago Arau.</p>

                            <div class="botontrasnparente">
                                <a class="text-decoration-none" href="assets/files/Wallpapers.zip" download="Wallpapers-MIDE.zip">
                                    <div class="opcionboton">
                                        <div class="descarga-icon"></div> DESCARGAR
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-5 text-center py-4">
                        <img class="img-fluid wow animate__animated animate__fadeInUp" src="assets/img/gratificacion/fondos.jpg" alt="fondos de pantalla mide">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="contenedor_min">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="contenido_adorno">
                            <div class="titulo">TIENDA MIDE</div>
                            <p>Encuentra y elige en nuestra tienda virtual el recuerdo ideal sobre la exposición 2020 Crónica de una Pandemia. Con tu compra contribuyes a la operación del museo.</p>

                            <div class="botontrasnparente">
                                <a class="text-decoration-none" href="https://tiendamide.org.mx/" target="_blank">
                                    <div class="opcionboton">
                                        COMPRA AQUÍ
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-5 text-center py-4">
                        <img class="img-fluid wow animate__animated animate__fadeInUp" src="assets/img/gratificacion/tienda.jpg" alt="visita nuestra tienda del mide y llevate un bonito recuerdo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
