<div class="animate__animated animate__fadeIn back-white">
    <div class="row">
        <div class="col-12">
            <div class="contenedor_min aliados">
                <div class="aliados-logos">
                    <div class="apoyo text-center">
                        Agradecemos el generoso apoyo de:
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-4 text-center py-3">
                            <img class="img-fluid" src="assets/img/aliados/canon.png">
                        </div>
                        <div class="col-md-2 text-center py-3">
                            <img class="img-fluid" src="assets/img/aliados/focolab.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center py-3">
                            <img class="img-fluid" src="assets/img/aliados/grupo-imu.png">
                        </div>
                        <div class="col-md-4 text-center py-3">
                            <img class="img-fluid" src="assets/img/aliados/el-economista.png">
                        </div>
                        <div class="col-md-4 text-center py-3">
                            <img class="img-fluid" src="assets/img/aliados/once.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-center py-3">
                            <img class="img-fluid" src="assets/img/aliados/chilango.png">
                        </div>
                        <div class="col-md-3 text-center py-3">
                            <img class="img-fluid" src="assets/img/aliados/AMPE.png">
                        </div>
                        <div class="col-md-3 text-center py-3">
                            <img class="img-fluid" src="assets/img/aliados/icona.png">
                        </div>
                        <div class="col-md-3 text-center py-3">
                            <img class="img-fluid" src="assets/img/aliados/banco-azteca.png">
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-3 text-center py-3">
                            <img class="img-fluid" src="assets/img/aliados/proteje.dinero.png">
                        </div>
                        <div class="col-md-3 text-center py-3">
                            <img class="img-fluid" src="assets/img/aliados/101-museos.png">
                        </div>
                        <div class="col-md-3 text-center py-3">
                            <img class="img-fluid" src="assets/img/aliados/horizontum.png">
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>            