<div class="animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-md-9 carrusel_may">
            <slider-principal [imagenesArr]="Sliders"></slider-principal>
        </div>
        <div class="col-md-3 imagenDerecha">
            <div class="imagenCentrada"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="contenedor_min">
                <h1 class="titulo_adorno mb-3">Guía de accesibilidad</h1>
                <p>Si tú o tus acompañantes desean visitar la exposición fotográfica y cuentan con alguna necesidad especial, pueden descargar la Guía de accesibilidad para conocer la mejor manera de desplazarse dentro de la exposición.</p>
                <div class="botontrasnparente boton_recortado">
                    <a class="text-decoration-none" href="assets/files/Accesibilidad-guia-OCT.pdf" download="Accesibilidad-guia-OCT.pdf">
                        <div class="opcionboton">
                            <div class="descarga-icon"></div> Guía de Accesibilidad
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="contenedor_min">
                <div class="row">
                    <div class="col-md-6">
                        <div class="info_accesibilidad">
                            Si necesitas algún tipo de ayuda o información adicional, CONTÁCTANOS:
                        </div>
                        <div class="row botones_acce">
                            <div class="col-md-6">
                                <a href="tel:+5551304616">
                                    <div class="boton btn_solido">
                                        <span class="icono"><img  src="assets/img/visita/iconos/Tel-min.png" alt="email mide" class="img-fluid"></span>
                                        <div class="numero">55 5130 4616</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="https://api.whatsapp.com/send?phone=+5215523055350" target="_blank">
                                    <div class="boton btn_bordes">
                                        <span class="icono"><img src="assets/img/visita/iconos/Whatsapp-min.png" alt="email mide" class="img-fluid"></span>
                                        <div class="numero">55 2305 5350</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row enlace_acce">
                            <a href="mailto:reservaciones2@mide.org.mx">
                                <div class="enlace">
                                    <span class="icono"><img class="img-fluid" src="assets/img/visita/gmail-min.png" alt="email mide"></span>
                                    <div class="informacion">reservaciones2@mide.org.mx</div>
                                </div>
                            </a>
                            <a target="_blank" href="https://www.reservacionesmide.com" target="_blank">
                                <div class="enlace">
                                    <span class="icono"><img class="img-fluid" src="assets/img/visita/web-min.png" alt="resevervación mide"></span>
                                    <div class="informacion">www.reservacionesmide.com</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contenedor_imagen_acce">
                            <img class="wow animate__animated animate__fadeInUp" src="assets/img/accesibilidad/accesibilidad.png" alt="Accesibilidad">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
