<div class="animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-md-9 carrusel_may">
            <slider-principal [imagenesArr]="Sliders"></slider-principal>
        </div>
        <div class="col-md-3 imagenDerecha">
            <div class="imagenCentrada"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="contenedor_min">
                <h1 class="titulo_adorno mb-3">SOBRE EL 2020</h1>
                <p>Hemos recopilado una serie de artículos, estudios y encuestas que te permitirán conocer y profundizar en torno a algunos de los impactos económicos y sociales que la contingencia sanitaria ha dejado en nuestro país.</p>
            </div>
        </div>
    </div>

    <div class="row contenedorMatriz">
        <div class="col-md-6 pr-0 pl-0">
            <div class="contenedor_imagen imagenMatriz">
                <img class="wow animate__animated animate__fadeInUp" src="assets/img/veinte/sobre-el-2020-1.jpg" alt="Los Impactos económicos de la Pandemia en México">
            </div>
        </div>
        <div class="col-md-6 posicion_matriz">
            <div class="textoMatriz">
                <div class="titulo">Los Impactos económicos de la Pandemia en México</div>
                <div class="editor"><span class="icono_editor"></span>
                    <div class="editort">Gerardo Esquivel</div>
                </div>
                <p>En este artículo se hace un breve recuento de los múltiples impactos económicos de la pandemia en México. </p>
                <p>En particular, se revisa el impacto que ha tenido la pandemia y el confinamiento sobre la actividad económica, el consumo, el empleo y la pobreza. </p>
                <p>También se comenta sobre las respuestas de política y sobre lo que aún puede hacerse para mitigar los impactos económicos y sociales de la pandemia en el país.</p>
                <a target="_blank" href="https://www.banxico.org.mx/publicaciones-y-prensa/articulos-y-otras-publicaciones/%7BD442A596-6F43-D1B5-6686-64A2CF2F371B%7D.pdf">
                    <div class="boton_sabermas">saber más</div>
                </a>
            </div>
        </div>
    </div>

    <div class="row contenedorMatriz">
        <div class="col-md-6 posicion_matriz sinFondoMatriz order-2 order-md-1">
            <div class="textoMatriz">
                <div class="titulo">Niveles y patrones de consumo en la era del COVID-19</div>
                <div class="editor"><span class="icono_editor_intro"></span>
                    <div class="editort">Raymundo M. Campos Vázquez y Gerardo Esquivel</div>
                </div>
                <p>Conoce los primeros efectos en los patrones de consumo que se ha observado en México como resultado de las medidas de confinamiento por la pandemia del coronavirus.</p>
                <a target="_blank" href="https://www.nexos.com.mx/?p=48034">
                    <div class="boton_sabermas">saber más</div>
                </a>
            </div>
        </div>
        <div class="col-md-6 pr-0 pl-0 order-1 order-md-2">
            <div class="contenedor_imagen imagenMatriz">
                <img class="wow animate__animated animate__fadeInUp" src="assets/img/veinte/sobre-el-2020-2.jpeg" alt="Niveles y patrones de consumo en la era del COVID-19">
            </div>
        </div>
    </div>

    <div class="row contenedorMatriz">
        <div class="col-md-6 pr-0 pl-0">
            <div class="contenedor_imagen imagenMatriz">
                <img class="wow animate__animated animate__fadeInUp" src="assets/img/veinte/sobre-el-2020-3.jpg" alt="Estudio sobre el efecto de la contingencia COVID-19 en el consumo y compra de alimentos de adultos mexicanos.">
            </div>
        </div>
        <div class="col-md-6 posicion_matriz">
            <div class="textoMatriz">
                <div class="titulo">Estudio sobre el efecto de la contingencia COVID-19 en el consumo y compra de alimentos de adultos mexicanos.</div>
                <div class="editor"><span class="icono_editor"></span>
                    <div class="editort">Instituto Nacional de Salud Pública en colaboración con el programa Mundial de Alimentos (WFP)</div>
                </div>
                <p>Este estudio tiene como objetivo identificar cómo la pandemia está afectando la compra de alimentos y la calidad de la dieta de la población mexicana en el transcurso de la pandemia.</p>
                <a target="_blank" href="https://www.insp.mx/dieta-covid">
                    <div class="boton_sabermas">saber más</div>
                </a>
            </div>
        </div>
    </div>

    <div class="row contenedorMatriz">
        <div class="col-md-6 posicion_matriz sinFondoMatriz order-2 order-md-1">
            <div class="textoMatriz">
                <div class="titulo">Madres trabajadoras y COVID 19: Efectos de la pandemia en circunstancias de teletrabajo en México.</div>
                <div class="editor"><span class="icono_editor_intro"></span>
                    <div class="editort">PNUD México</div>
                </div>
                <p>Este estudio del PNUD México, busca identificar y caracterizar los elementos de la vida de las mujeres madres trabajadoras de México, que resultaron afectados, en el contexto de traslado de oficina a su casa y confinamiento prolongado,
                    derivado de la pandemia de COVID-19.</p>
                <a target="_blank" href="https://www.mx.undp.org/content/mexico/es/home/library/el-pnud-en-accion/madres-trabajadoras-y-covid-19--efectos-de-la-pandemia-en-circun.html">
                    <div class="boton_sabermas">saber más</div>
                </a>
            </div>
        </div>
        <div class="col-md-6 pr-0 pl-0 order-1 order-md-2">
            <div class="contenedor_imagen imagenMatriz">
                <img class="wow animate__animated animate__fadeInUp" src="assets/img/veinte/sobre-el-2020-4.jpg" alt="Madres trabajadoras y COVID 19: Efectos de la pandemia en circunstancias de teletrabajo en México.">
            </div>
        </div>
    </div>

    <div class="row contenedorMatriz">
        <div class="col-md-6 pr-0 pl-0">
            <div class="contenedor_imagen imagenMatriz">
                <img class="wow animate__animated animate__fadeInUp" src="assets/img/veinte/sobre-el-2020-5.jpg" alt="Encuesta sobre los efectos del COVID-19 en el bienestar de los hogares con niñas, niños y adolescentes en la Ciudad de México.">
            </div>
        </div>
        <div class="col-md-6 posicion_matriz">
            <div class="textoMatriz">
                <div class="titulo">Encuesta sobre los efectos del COVID-19 en el bienestar de los hogares con niñas, niños y adolescentes en la Ciudad de México.</div>
                <div class="editor"><span class="icono_editor"></span>
                    <div class="editort">EQUIDE – UNICEF México</div>
                </div>
                <p>Resumen de resultados. Acumulado julio-diciembre 2020 Encuesta diseñada para conocer los impactos que ha tenido la crisis sanitaria, económica y social por la pandemia de COVID-19 en el bienestar de los hogares capitalinos, con un énfasis
                    especial en las familias con niñas, niños y adolescentes.</p>
                <a target="_blank" href="https://www.unicef.org/mexico/media/5561/file/ENCOVID%20CDMX%20Diciembre.pdf">
                    <div class="boton_sabermas">saber más</div>
                </a>
            </div>
        </div>
    </div>

    <div class="row contenedorMatriz">
        <div class="col-md-6 posicion_matriz sinFondoMatriz order-2 order-md-1">
            <div class="textoMatriz">
                <div class="titulo">Encuesta para la Medición del Impacto COVID-19 en la Educación (ECOVID-ED) 2020</div>
                <div class="editor"><span class="icono_editor_intro"></span>
                    <div class="editort">INEGI</div>
                </div>
                <p>La Encuesta para la Medición del Impacto COVID-19 en la Educación (ECOVID-ED) 2020 se llevó a cabo de manera especial con el objetivo de conocer el impacto de la cancelación provisional de clases presenciales en las instituciones educativas
                    del país para evitar los contagios por la pandemia COVID-19 en la experiencia educativa de niños, niñas, adolescentes y jóvenes de 3 a 29 años, tanto en el ciclo escolar 2019- 2020, como en ciclo 2020-2021.</p>
                <a target="_blank" href="https://www.inegi.org.mx/contenidos/investigacion/ecovided/2020/doc/ecovid_ed_2020_presentacion_resultados.pdf">
                    <div class="boton_sabermas">saber más</div>
                </a>
            </div>
        </div>
        <div class="col-md-6 pr-0 pl-0 order-1 order-md-2">
            <div class="contenedor_imagen imagenMatriz">
                <img class="wow animate__animated animate__fadeInUp" src="assets/img/veinte/sobre-el-2020-6.jpeg" alt="Encuesta para la Medición del Impacto COVID-19 en la Educación (ECOVID-ED) 2020">
            </div>
        </div>
    </div>

    <div class="row contenedorMatriz">
        <div class="col-md-6 pr-0 pl-0">
            <div class="contenedor_imagen imagenMatriz">
                <img class="wow animate__animated animate__fadeInUp" src="assets/img/veinte/sobre-el-2020-7.jpeg" alt="Encuesta sobre el Impacto Económico Generado por COVID-19 en las Empresas (ECOVID-IE)">
            </div>
        </div>
        <div class="col-md-6 posicion_matriz">
            <div class="textoMatriz">
                <div class="titulo">Encuesta sobre el Impacto Económico Generado por COVID-19 en las Empresas (ECOVID-IE)</div>
                <div class="editor"><span class="icono_editor"></span>
                    <div class="editort">INEGI</div>
                </div>
                <p>La Encuesta sobre el Impacto Económico Generado por COVID-19 en las Empresas (ECOVID-IE), tiene como finalidad obtener información sobre las afectaciones de la contingencia originada por el virus COVID-19 en las empresas de México, para
                    generar información estadística en el tema y apoyar la toma de decisiones en cuestión de políticas públicas; asimismo, ofrece elementos de análisis para la realización de estudios nacionales e internacionales, así como datos relevantes
                    para el público en general interesado en la materia.</p>
                <a target="_blank" href="https://www.inegi.org.mx/contenidos/programas/ecovidie/doc/presentacion_ECOVIDIE.pdf">
                    <div class="boton_sabermas">saber más</div>
                </a>
            </div>
        </div>
    </div>

    <div class="row contenedorMatriz">
        <div class="col-md-6 posicion_matriz sinFondoMatriz order-2 order-md-1">
            <div class="textoMatriz">
                <div class="titulo">Movilidad durante la emergencia sanitaria COVID-19</div>
                <div class="editor"><span class="icono_editor_intro"></span>
                    <div class="editort">Secretaría de movilidad del Gobierno de la Ciudad de México</div>
                </div>
                <p>Conoce detalles de la movilidad de la Ciudad de México durante la emergencia sanitaria COVID-19.</p>
                <a target="_blank" href="https://semovi.cdmx.gob.mx/storage/app/media/movilidad-covid-19-en-la-cdmx.pdf">
                    <div class="boton_sabermas">saber más</div>
                </a>
            </div>
        </div>
        <div class="col-md-6 pr-0 pl-0 order-1 order-md-2">
            <div class="contenedor_imagen imagenMatriz">
                <img class="wow animate__animated animate__fadeInUp" src="assets/img/veinte/sobre-el-2020-8.jpg" alt="Movilidad durante la emergencia sanitaria COVID-19">
            </div>
        </div>
    </div>
</div>