<div class="animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-12">
            <div class="contenedor_min">
                
                <div class="terminos-avisos">
                    <h1 class="titulo text-center">
                        Aviso de privacidad
                    </h1>
                    <h3>RESPONSABLE   DEL TRATAMIENTO DE TUS DATOS PERSONALES.</h3>
                    <p >El FIDEICOMISO DEL ESPACIO CULTURAL Y EDUCATIVO BETLEMITAS/MUSEO INTERACTIVO DE ECONOMÍA (FECEB/MIDE), es una institución educativa y cultural con domicilio en la calle de Tacuba N° 17 Colonia Centro AlcaldíaDelegación Cuauhtémoc C.P. 06000 Ciudad de México En nuestro carácter de responsables en el tratamiento de sus datos personales, comunicamos que la información de nuestros VISITANTES es tratada de forma estrictamente confidencial.</p>
                    
                    <h3>DATOS PERSONALES QUE SE RECABAN.</h3>
                    <p >El FECEB/MIDE podrá recabar y, en su caso, tratar los siguientes datos personales</p>    
                    <ul>
                        <li>Nombre completo</li>
                        <li>Edad</li>
                        <li>Fecha de nacimiento</li>
                        <li>Género</li>
                        <li>Estado Civil</li>
                        <li>Domicilio</li>
                        <li>Correo electrónico</li>
                        <li>Teléfono particular, del trabajo, celular</li>
                        <li>Datos de contactos en caso de emergencia</li>
                        <li>Escolaridad</li>
                        <li>Religión</li>
                        <li>CURP</li>
                        <li>Profesión</li>
                        <li>Identidad en redes sociales</li>
                    </ul>
                    <p><strong>El FECEB/MIDE no solicitará información adicional a la señalada.</strong></p>    
                    <p >La Ley Federal de Protección de Datos Personales en Posesión de Particulares señala que el FECEB/MIDE podrá obtener información de otras fuentes, los datos que se obtendrán son nombres completos, teléfono fijo y celular así como correo electrónico.</p>

                    <h3>DATOS PERSONALES DE MENORES DE EDAD</h3>
                    <p >El FECEB/MIDE sabe de la importancia que tiene la protección de la privacidad y los datos personales de los menores de edad, por lo que no obtiene, usa, divulga o almacena información relacionada con menores de edad sin el consentimiento previo de sus padres o tutores. Si usted es padre/madre o tutor de algún menor de edad que haya proporcionado sus datos personales sin su consentimiento, puede solicitar que dichos datos sean cancelados contactando a la <a href="mailto:relaciones.publicas@mide.org.mxmide.org.mx">Jefatura de Administración Web y Redes Sociales</a> del MIDE.</p> 
                    
                    <h3>FINALIDADES DEL TRATAMIENTO DE LOS DATOS PERSONALES</h3>
                    <p >La información o datos personales que libre y voluntariamente proporciona, serán utilizados única exclusivamente para los siguientes fines:</p>
                    <ul class="n">
                        <li>Promover los servicios y productos que ha solicitado.</li>
                        <li>Selección y reclutamiento de personal.</li>
                        <li>Estudios de mercado, marketing directo.</li>
                        <li>Envío de promociones, invitaciones a eventos, concursos, licitaciones, actualizaciones.</li>
                        <li>Creación de bases de datos de usuarios.</li>
                        <li>Envío de información solicitada al museo.</li>
                    </ul>

                    <h3>SEGURIDAD DE LOS DATOS PERSONALES.</h3>
                    <p >Con el fin de evitar el acceso no autorizado a sus datos personales y a efecto de asegurar que la información sea utilizada para los fines establecidos en este aviso de privacidad, hemos implementado un procedimiento para impedir el uso o divulgación no autorizados de sus datos.</p>

                    <h5>DERECHOS ARCO Y ÁREA DE PROTECCIÓN DE DATOS.</h5>
                    <p >Los datos personales serán tratados con base en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento, por lo que en cualquier momento podrá ejercer los derechos de acceso, rectificación, cancelación u oposición al tratamiento de sus datos; para lo cual deberá enviar su solicitud al correo electrónico <a href="mailto:relaciones.publicas@mide.org.mxmide.org.mx">relaciones.publicas@mide.org.mx</a> o por escrito dirigido a la Dirección de Comunicación del MIDE, con un horario de atención de 9:00 a 14:00 y de 16:00 a 18:00 horas.</p>
                    
                    <h5>CAMBIOS AL AVISO DE PRIVACIDAD.</h5>
                    <p>En caso de existir alguna modificación al presente Aviso de Privacidad se hará de su conocimiento en nuestro sitio de Internet <a href="https://www.mide.org.mx/" target="_blank">www.mide.org.mx</a> (en la parte inferior de la página de inicio).</p>
                </div>
                
            </div>
        </div>
    </div>
</div>