<footer>
    <div class="row">
        <div class="col-md-3 row text-center contenedor_foot">
            <div class="col-3 pt-1">
                <img class="img-fluid" src="assets/img/footer/redes-sociales-icon-min.png">
            </div>
            <div class="col-9 p-0">
                <span class="siguenos">SÍGUENOS</span>
            </div>
            <div class="col-3 p-0">
                <a target="_blank" href="https://www.facebook.com/museomide/"><img class="img-fluid" src="assets/img/footer/facebook-logo-min.png"></a>
            </div>
            <div class="col-3 p-0">
                <a target="_blank" href="https://twitter.com/MuseoMIDE"><img class="img-fluid" src="assets/img/footer/twitter-logo-min.png"></a>
            </div>
            <div class="col-3 p-0">
                <a target="_blank" href="https://www.instagram.com/museomide/"><img class="img-fluid" src="assets/img/footer/instagram-min.png"></a>
            </div>
            <div class="col-3 p-0">
                <a target="_blank" href="https://www.tiktok.com/@museomide?lang=es"><img class="img-fluid border-rds" src="assets/img/footer/tiktok-logo-min.jpg"></a>
            </div>
        </div>
        <div class="col-md-9 row m-0 links">
            <div class="col-md-4 text-center">
                <a href="#" [routerLink]="['aliados']" routerLinkActive="active"><i class="fas fa-chevron-right"></i> Aliados</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="#" [routerLink]="['terminos-y-condiciones']" routerLinkActive="active"><i class="fas fa-chevron-right"></i> Términos y condiciones</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="#" [routerLink]="['aviso-de-privacidad']" routerLinkActive="active"><i class="fas fa-chevron-right"></i> Aviso de privacidad</a>
            </div>
            <div class="col-12 mt-3 copyright">
                © Copyright 2006-2021. Fideicomiso del Espacio Cultural y Educativo Betlemitas. Todos los materiales contenidos en este sitio web se encuentran protegidos bajo la licencia creative commons by-nc-nd.
            </div>
        </div>
    </div>
</footer>
